<!-- main footer container -->
<div id="footer_container">

  <!-- Payment types section -->
  <section id="payment_wrapper">
    <!-- CONVENTIONAL PAYMENTS -->
    <div id="payment_container">
      <div id="payments">
        <!-- VISA LOGO -->
        <div class="payment_logo_container">
          <img src="../../../assets/footer/visa.png" alt="visa logo" class="payment_logo">
        </div>
        <!-- MASTER CARD LOGO -->
        <div class="payment_logo_container">
          <img src="../../../assets/footer/mastercard.png" alt="mastercard logo" class="payment_logo">
        </div>
        <!-- AMERICAN EXPRESS LOGO -->
        <div class="payment_logo_container">
          <img src="../../../assets/footer/american_express.png" alt="american express logo" class="payment_logo">
        </div>
        <!-- SKRILL -->
        <div class="payment_logo_container">
          <img src="../../../assets/footer/skrill.png" alt="skrill logo" class="payment_logo">
        </div>
      </div>

      <!-- ------------------------------ CRYPTOS ------------------------------- -->
      <div id="crypto_container">
        <!-- BITCOIN -->
        <div class="payment_logo_container payment_icon bg_green">
          <img src="../../../assets/footer/btc.png" alt="bitcoin logo">
        </div>
        <!-- ETHEREUM -->
        <div class="payment_logo_container icon">
          <img src="../../../assets/footer/ethereum.png" alt="ethereum logo">
        </div>
        <!-- BITCOIN CASH -->
        <div class="payment_logo_container payment_icon bg_yellow">
          <img src="../../../assets/footer/btc.png" alt="bitcoin cash logo">
        </div>
        <!-- LITECOIN -->
        <div class="payment_logo_container icon">
          <img src="../../../assets/footer/litecoin.png" alt="litecoin logo">
        </div>
        <!-- AND MORE -->
        <span>and 50+ more</span>
      </div>
    </div>
  </section>
  <!-- / Payment section end -->

  <!-- socials section -->
  <section id="socials_wrapper">
    <!-- socials container -->
    <div id="socials_container">
      <!-- socials -->
      <!-- facebook -->
      <div class="social_icon fb">
        <img src="../../../assets/footer/facebook.png" alt="facebook logo">
      </div>
      <!-- Instagram -->
      <div class="social_icon ig">
        <img src="../../../assets/footer/instagram.png" alt="instagram logo">
      </div>
      <!-- Twitter -->
      <div class="social_icon tw">
        <img src="../../../assets/footer/twitter.png" alt="twitter logo">
      </div>
      <!-- Discord -->
      <div class="social_icon dc">
        <img src="../../../assets/footer/discord.png" alt="discord logo">
      </div>
    </div>
  </section>
  <!-- HTML Divider -->
  <hr class="solid">
  <!-- / Social section end -->

  <!-- About section -->
  <section id="about_wrapper">
    <!-- about container -->
    <div id="about_container">
      <!-- Chicks -->
      <div id="chicks">
        <img src="../../../assets/chicks-logo-large.svg" alt="chicks">
        <span>support&#64;chicksgold.com</span>
      </div>

      <!-- Chicks Gold -->
      <ul class="list">
        <li class="title">Chicks Gold</li>
        <li class="subtitle">Games</li>
        <li class="subtitle">About Us</li>
        <li class="subtitle">Blog</li>
        <li class="subtitle">Sitemap</li>
      </ul>

      <!-- Support -->
      <ul class="list">
        <li class="title">Support</li>
        <li class="subtitle">Contact Us</li>
        <li class="subtitle">FAQ</li>
      </ul>

      <!-- Legal -->
      <ul class="list">
        <li class="title">Legal</li>
        <li class="subtitle">Privacy Policy</li>
        <li class="subtitle">Terms of Service</li>
        <li class="subtitle">Copyright Policy</li>
      </ul>

      <!-- Review -->
      <div id="review_container">

        <div id="stars_container">
          <div class="star">
            <img src="../../../assets/footer/star.png" alt="star">
          </div>
          <div class="star">
            <img src="../../../assets/footer/star.png" alt="star">
          </div>
          <div class="star">
            <img src="../../../assets/footer/star.png" alt="star">
          </div>
          <div class="star">
            <img src="../../../assets/footer/star.png" alt="star">
          </div>
          <div class="star">
            <img src="../../../assets/footer/star.png" alt="star">
          </div>
        </div>

        <span>Trustpilot Reviews</span>
      </div>

    </div>
  </section>
  <!-- /End about section -->

  <!-- All Rights -->
  <section id="rights_wrapper">
    <div id="rights_container">
      <span>© 2017 - 2020 Chicksgold.com. All rights Reserved</span>
    </div>
  </section>
  <!-- /End all rights section -->
</div>
